*{
    margin: 0;
    padding: 0;

}
.sticky {
    position: fixed !important;
    top:30px !important;
    width: 800px !important;
}

.table__head{
    position: sticky !important;
    top:152px !important;
    width: 800px !important;
    margin-bottom: 5px;
}

.table__body{
    margin-top:22%;
}